div#header ul li a.fifth {background: url(../img/btn_photos.png) no-repeat top left; margin: 0px 10px 0 0;}
div#header ul li a.sixth {background: url(../img/btn_video.png) no-repeat top left; margin: 0px 10px 0 0;}
div#header ul li a.seventh {background: url(../img/btn_facebook.png) no-repeat top left; margin: 0px 10px 0 0;}
div#header ul li a.last {background: url(../img/btn_rss.png) no-repeat top left; margin: 0px 0 0;}

