.row, .body, .container {
width: 93%;
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
width: auto;
float: none;
margin-left: 0px;
margin-right: 0px;
padding-left: 20px;
padding-right: 20px;
}

/* Type presets */

body {
font-size: 16px;
line-height: 24px;
}
body div#footer ul {float: left;}
body div#footer ul li {text-align: left;}
body div#footer ul li a {font-size: 25px;}
div#side ul.xoxo li#categories-3 ul li {width: 100%; }

.single-header,
.entry-content,
.entry-utility {padding: 0 15px;}

section#main p {
  font-size: 20px;
  line-height: 1.65em;
}

.single-header h1.entry-title {
	font-size: 40px;
}

#h-wrap.container {padding: 0; width: 100%;}

.home #main div.container {
	margin: 1em auto;
  padding: 0;
}
.home #left.sixcol,
.home #right.sixcol {
	float: left;
	width: 100%;
}

div.single-container {
	width: 92%;
}

div.single-header-content.single-container {
	width: 100%;
}

article.featured-post h2.post-title {
	font-size: 28px;
}
#fwrap.container {
	padding: 15px 0;
	width: 100%;
}
img.alignleft,
img.alignright {
	float: left;
	margin: 0 0 1em;
}