body {
	background: #fdfdfd;
	font-size: 110%;
	line-height: 1.5;
	color: #555;
	font-family: "LatoRegular", Tahoma, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
a, a:link, a:visited {text-decoration: none; color: #4c7da7; font-weight: normal;    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;}
a:hover, a:active {color: #4b94d4;}
strong {font-weight: normal; font-family: "LatoBold", "LatoRegular", Tahoma, Helvetica, Arial, sans-serif;}

/* The 1140px Grid by Andy Taylor – http://cssgrid.net – http://www.twitter.com/andytlr – http://www.catchingzebra.com */

.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
}

.onecol {
width: 4.85%;
}

.twocol {
width: 13.5%;
}

.threecol {
width: 22.15%;
}

.fourcol {
width: 30.8%;
}

.fivecol {
width: 39.45%;
}

.sixcol {
width: 48.1%;
}

.sevencol {
width: 56.75%;
}

.eightcol {
width: 65.4%;
}

.ninecol {
width: 74.05%;
}

.tencol {
width: 82.7%;
}

.elevencol {
width: 91.35%;
}

.twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
height: auto;
}
 
/* Headings
============================== */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
	margin: .25em 0 1em;
	padding: 0;
	line-height: 1.25em;
	font-family: "Enriqueta", Georgia, serif;
	font-weight: 700;
}
h1 {
	font-size: 2.5em;
	margin: 1em 0;
}
.page h1 {
	margin: 1em 0 0;
}
h1.entry-title {
	color: #fff;
	text-shadow: 0 1px 1px #000;
	margin: 0 0 0.5em;
}
.intro h2 {
	font-size: 2em;
	margin: 5px 0 0.5em;
}

h2, div#side h3 {
	font-size: 36px;
}
h3 {
	font-size: 33px;
}
h4 {
	font-size: 25px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 18px;
}
blockquote {
  border-left: 3px solid #ddd;
  margin: 1em 0;
  padding: 0 0 0 40px;
  font-family: "Enriqueta", Georgia, serif;
}

.home #main .container {
	max-width: 1200px;
	margin: 1.5em auto;
}

.home .sixcol {
	margin-right: 0;
	width: 48%;
}
.home .sixcol.last {
	float: right;
}

/* Font Awesome
============================== */
.icon-chevron-right {padding: 0 0 0 5px; font-size: 16px;}
.icon-chevron-left {padding: 0 5px 0 0; font-size: 16px;}
.icon-comments,
.icon-comments-alt {padding: 0 10px 0 0; color: #bbb;}
.icon-comment {padding: 0 0 0 3px; color: #555;}
h1 i {color: #bbb; padding: 0 10px 0 0; font-size: 28px;}
h3 i {color: #bbb; font-size: 24px;}

.widget_extended_comments {}
/* Header
============================== */
#h-wrap {border-bottom: 1px solid #ddd; margin: 0; background: #fdfdfd; position: relative; z-index: 30;}
#header {position: relative;}
#header h2 {
		font-family: 'LatoLight', Helvetica, Arial, Sans-serif;
		padding: 0;
		font-size: 1.75em;
		line-height: 1em;
		margin: 7px auto;
		text-align: center;
		letter-spacing: -.05em;
}
#header h2 a {color: #444;}
#header h2 a span {color: #666;}
#header h2 a:hover, #header h2 a:active {color: #666;}
#header h2 a:hover span, #header h2 a:active span {color: #444;}

/* Main navigation
============================== */


/* Main
============================= */
.featured-post {
	position: relative;
	float: left;
	width: 100%;
	height: 262px;
	margin-bottom: 1.5em;
	text-shadow: 0 1px 1px #000;
	overflow: hidden;
	background: #000;
}
.featured-post img {
	position: absolute;
	width: 150%;
	height: 100%;
	opacity: 0.5;

}
.featured-post-content {
	position: absolute;
	left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 96%;
 	padding: 0 2%;
}

.featured-post h2.post-title {
	margin: 0 0 .25em;
}

.featured-post h2.post-title a {
	color: #fff;
	margin: 0;
	font-family: "Enriqueta", Georgia, serif;
  font-weight: 700;
  text-shadow: 0 1px 1px #000;
}
.featured-post h2.post-title a:hover {
	color: #4c7da7;
}
.featured-post .metadata {color: #fff;}

.single-header {
		/* image pulled in the single.php template */
    height: 400px;
    position: relative;
    border-bottom: 1px solid #ddd;
    text-shadow: 0 1px 1px #000;
    background: #000;
    z-index: 0;
}

.featured-post:after,
.single-header:after {
  	content: '';
  	background: url(../images/bg_pattern.png) repeat; 
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	left: 0;
  	top: 0;
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  	opacity: 0.8;
  	z-index: 4;
}

.single-column {
	margin: 0 auto;
	max-width: 700px;
}

.single-container {
	margin: 0 auto;
	max-width: 700px;
}

.single-header-content {
	position: relative;
	z-index: 10;
	color: #eee;
	height: 400px;
}

.v-center {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.entry-content {
	background: #fdfdfd;
	padding: 1.5em 0;
	position: relative; 
	z-index: 10;
}

.post-categories {
	margin: 0 0 .5em;
	padding: 0;
}
.post-categories li {
	display: inline;
	list-style-type: none;
	margin: 0;
	font-family: "Enriqueta", Georgia, serif;
}
.metadata,
.post-meta {
	font-family: "Enriqueta", Georgia, serif;
}

.metadata a,
.post-categories a {
	color: #fff;
	font-weight: 700;
	border-bottom: 1px dotted #fff;
	margin-right: 5px;
}

#main p.post-meta {
	font-size: 16px;
	padding: 1em 0;
	border-top: 1px dotted #ddd;
}

.post-meta a {
	font-weight: 700;
}	

.post-meta a:hover,
.metadata a:hover,
.post-categories a:hover {
	border-bottom: none;
}

.archive .post {
	padding: 1em 0 0;
	border-top: 1px dotted #ddd;
}

.archive .post h2 {
	font-weight: 700;
	margin: 0 0 .5em;
}

.archive .post h2 a {font-weight: 700;}

.archive .post .entry-meta {
	margin: 0 0 1em;
	font-family: 'Enriqueta', Georgia, serif;
}
.archive .post .more-link {
  display: block; 
  width: 100%;
  margin: 1em 0;
  font-family: 'Enriqueta', Georgia, serif;
}    

ul.xoxo li.widget_search input#searchsubmit, section#main div#comments input#submit, section#main div.wpcf7 input.wpcf7-submit {
	background: #4c7da7; 
	color: #fff; 
	font-size: 18px; 
	border: none;
	border-radius: 5px;
	border-bottom: 1px solid darkblue;
	font-family: 'Enriqueta', Helvetica, Arial, Sans-serif;
	cursor: pointer;
	width: auto;
	margin: 0;
	padding: 10px;
	width: 100%;
}
ul.xoxo li.widget_search input#searchsubmit:hover, ul.xoxo li.widget_search input#searchsubmit:active,
section#main div#comments input#submit:hover, section#main div#comments input#submit:active,
section#main div.wpcf7 input.wpcf7-submit:hover, section#main div.wpcf7 input.wpcf7-submit:active {
	background: #4b94d4; 
	color: #eee;
}

section#main div.entry-meta {float: left; width: 100%;}
section#main div.metadata {float: left;}
section#main div.fb-like {float: left; margin: 2px 0 0 3px;}

div#c-contain {background: #ddd;}
div#c-contain-bot {padding: 30px 20px;}
section#main div#content,
section#main div#left,
section#main div#right {/*padding: 30px 0 0;*/ /*border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;*/}
section#main div#left p.postmetadata,
section#main div#right p.postmetadata {margin: 0;}
section#main strong {color: #444;}

section#main p.postmetadata, section#main .entry-utility, section#main .entry-meta, section#main div.navigation {line-height: 24px; font-family: 'Enriqueta', Helvetica, Arial, Sans-serif; font-size: 18px; color: #555;/* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);*/ }
section#main p.postmetadata span {color: #333;}
section#main .entry-utility, section#main .entry-meta, section#main div.navigation {margin: 0 0 15px; font-size: 20px;}
section#main .entry-utility {clear: both;}
section#main .entry-utility div.share {margin: 10px 0 0; padding: 10px 0 0; border-top: 1px solid #ccc;}
section#main .entry-utility div.share a.a2a_dd {float: right;} 

#main .intro img {
	width: 100%;
}

#main .intro p {
	font-size: 18px;
	margin: 0 0 1em;
}

#main .intro .button {
  background: #b83d3d;
  padding: 10px 0 5px;
  width: 100%;
  display: block;
  text-align: center;
  border-bottom: 1px solid darkred;
  color: white;
  border-radius: 5px;
  margin: 0 0 1.5em;
  float: left;

}

#main .intro.rachel .button {
	background: #6c9631;
	border-bottom: 1px solid darkgreen;
}

#main .intro.rachel .button:hover,
#main .intro .button:hover {
	background: #4c7da7;
	border-bottom: 1px solid darkblue;
}

#main p {
	margin: 0 0 1.5em;
  font-size: 20px;
  line-height: 1.65em;
  color: #555;
}
.entry-content li {
	font-size: 20px;
  line-height: 1.65em;
  color: #555;
  margin: 0 0 .25em;
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}
.alignright {
	float: right;
	margin: 0 0 15px 15px;
}

.home div.intro {position: relative; padding: 0 0 20px;}
.home div.intro.rachel h2 {color: #6c9631; }
.home div.intro.brandon h2 {color: #b83d3d; }
.home article.post {border-top: 1px solid #ccc; padding: 30px 0;}

#respond {
	float: left;
	width: 100%;
}

.comments {
	border-top: 1px solid #ddd;
	margin: 1.5em 0 0;
	padding: 1.5em 0;
	background: #fafafa;
	float: left;
	width: 100%;
	position: relative; 
	z-index: 10;
}

.comments .single-container {
	background: none;
}

.comments h3 {
	font-size: 28px;
	margin-bottom: .5em;
}

ol.commentlist { 
	list-style:none; 
	margin:0 0 1em; 
	padding:0; 
	text-indent:0;
	float: left; 
	width: 100%;
}
ol.commentlist li { list-style: none; }
ol.commentlist li.comment { 
	border-bottom: 1px dotted #ddd; 
	padding:1em 0; 
	float: left;
	width: 100%;
}
ol.commentlist li.comment div.vcard { font:normal 20px 'Enriqueta',georgia,times,serif; }
ol.commentlist li.comment div.vcard cite.fn { font-style:normal; }
ol.commentlist li.comment img.avatar { 
	border: 3px solid #ddd; 
	float:left; 
	width: 10%;
	max-width: 60px;
	margin: 0 0 2em; 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
ol.commentlist li.comment .comment-content {
	float: right;
	width: 87%;
}
ol.commentlist li.comment div.comment-meta { font-size:14px; margin: 5px 0 1em; color: #888; font-family: 'Enriqueta', georgia, serif;}
ol.commentlist li.comment div.comment-meta a { color:#ccc; }
#main ol.commentlist li.comment p { font-size:16px; margin:0 0 1em; }
ol.commentlist li.comment ul { font-size:11px; list-style:square; margin:0 0 1em 2em; }
ol.commentlist li.comment div.reply { font-size:16px; font-family: 'Enriqueta', georgia, serif;}
ol.commentlist li.comment ul.children { list-style:none; margin:1em 0 0; text-indent:0; }
ol.commentlist li.comment ul.children li.depth-2,
ol.commentlist li.comment ul.children li.depth-3,
ol.commentlist li.comment ul.children li.depth-4 { border-left:3px solid #ddd; margin:0 0 .25em .25em; }
ol.commentlist li.post.pingback {font:normal 13px 'Enriqueta',georgia,times,serif;}

#main p.logged-in-as {font-size:18px; font-family: 'Enriqueta', georgia, serif;}
section#main p.form-allowed-tags {font-size: 13px; line-height: 20px;}

#main .comment-form p {
	font-size:16px; 
	font-family: 'Enriqueta', georgia, serif;
	float: left;
	width: 100%;
	margin-bottom: .5em;
}

#main .comment-form input {
	float: left;
	width: 98%;
	font-size: 16px;
	padding: 1%;
	font-family: 'Enriqueta', georgia, serif;
}
.comment-form-comment label {
	float: left;
	width: 100%;
}
.comment-form-comment textarea {
	border: 1px solid #ddd;
	font-size: 16px;
	padding: 1%;
	width: 98%;
	color: #444;
	font-family: 'Enriqueta', georgia, serif;
}
.archive section#main div.post, .search section#main article.post {border-bottom: 1px solid #ccc; padding: 15px 0;}

section#main img.wp-post-image {margin: 0 0 30px;}
section#main a img {outline: none; text-decoration: none; border: none;}
.postid-1117 section#main img, 
.postid-1133 section#main img,
section#main img.ajax-loader {float: none;}
section#main p.wp-caption-text {font-size: 13px; line-height: 20px;}

section#main .alignleft, section#main .alignright img {margin: 0;}

section#main div.wpcf7 p {line-height: 24px; font-size: 20px; font-family: 'Enriqueta', Helvetica, Arial, Sans-serif; color: #555; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8); }
section#main div.wpcf7 input.wpcf7-text, section#main div.wpcf7 textarea { background: #f5f5f5; border: 1px solid #ccc; padding: 3px; font-size: 14px; color: #555;}
section#main div.wpcf7 input.wpcf7-text:active, section#main div.wpcf7 input.wpcf7-text:focus,
section#main div.wpcf7 textarea:active, section#main div.wpcf7 textarea:focus {background: #fff; border: 1px solid #4b94d4;}

section#main #nav-below {clear: both;}

/* Widgets
============================== */
div#side {/*border-top: 1px solid #ccc;*/}
div#footer-widget-area {float: left; width: 100%; padding: 30px 0; }
ul.xoxo {margin: 0; padding: 0;}
ul.xoxo li {margin: 0; padding: 0; list-style-type: none;}
ul.xoxo li ul {margin: 0; padding: 0;}
ul.xoxo li ul li {margin: 0; padding: 0;}
div#side ul.xoxo li {
	border: 1px solid #DDD;
	padding: 20px 5%;
	background: #EEE;
	font-size: 16px;
	margin: 0 0 20px;
	line-height: 22px;
	float: left; 
	width: 90%;
}
div#side ul.xoxo li h3, div#footer-widget-area ul.xoxo li h3 {margin: 0 0 5px; font-size: 30px; line-height: 30px;}
div#side ul.xoxo li ul, div#footer-widget-area ul.xoxo li ul {margin: 0; padding: 0;}
div#side ul.xoxo li ul li, div#footer-widget-area ul.xoxo li ul li {padding: 0; margin: 0 0 2px 15px; list-style-type: square; border: none;}
ul.xoxo li ul li blockquote {margin: 0; padding: 0; text-align: left;}

div#footer-widget-area ul.xoxo li.widget_search {margin: 0 0 15px;}
ul.xoxo li.widget_search label {display: none;}
ul.xoxo li.widget_search input#s {background: #f5f5f5; border: 1px solid #ccc; padding: 3px; margin: 0 0 5px; font-size: 14px; color: #555; }

div#side ul.xoxo li#categories-3 {float: left; margin: 0 0 20px;}
div#side ul.xoxo li#categories-3 ul {float: left; width: 100%; margin: 0 0 0 20px;}
div#side ul.xoxo li#categories-3 ul li {width: 40%; padding: 0; margin: 0; float: left;}

/* Footer
============================== */
#fwrap {
	clear: both;
	text-align: center;
	border-top: 1px solid #ddd;
	padding: 15px 0;
	font-size: 16px;
	background: #fdfdfd;
	position: relative; 
	z-index: 30;
}
#footer p {font-family: 'Enriqueta', georgia, serif;}
#footer a {font-weight: bold;}
#footer a:hover {color: #4b94d4;}
#footer ul {margin: 0; padding: 0; font-family: 'Enriqueta', georgia, serif;}
#footer ul li {list-style-type: none; display: inline; margin: 0 5px;}
